body{
	background:  #ffffff;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}
h1{
font-size:1.5em;
font-weight:150%;
}
h2{
	font-size:1.3em;
	text-align:left;
	text-indent:20px;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#header{

background-color:#dddddd;
}
#logo{ 
    float:left;               
} 
 #name{ 
        float:left;
        padding-right: 50px; 
        vertical-align: middle;         
        } 
#menu{ 
    float:right; 
               
} 
#info{
	align:left;
	padding:5px;
	padding-left:50px;
	line-height:2.5em;
}
#teacher{
    padding: 20px;
}
#teacher1
{
	text-align: left;
    padding:20px;
    
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        padding: 10px;
        
        width: 60%;
}
th, td {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }



#teacher1 tr:nth-child(even){background-color: #a89a9a;}
